@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Walkway-Bold";
  src: url("../../public/font/Walkway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit-Bold";
  src: url("../../public/font/Kanit-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit-Medium";
  src: url("../../public/font/Kanit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit-Light";
  src: url("../../public/font/Kanit-Light.ttf") format("truetype");
}

.swiper-slide {
  text-align: center;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0);
  filter: blur(3px);
  opacity: 0.5;
  border-radius: 10px;
  object-fit: contain;
}

.swiper-slide-active {
  filter: blur(0);
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
