.newsContainer {
  background: linear-gradient(180deg, #000000, #0a0a0a);
  padding: 2rem 15rem 4rem;
}
.newsTitleContainer {
  background-color: transparent;
}
.title {
  padding: 5rem 15rem 1rem;
  color: aliceblue;
  font-size: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.articleNews {
  color: aliceblue;
  width: 100%;
  margin: 3rem 0 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Walkway-Bold";
  font-size: 1.2rem;
}
.textPropos {
  text-align: left;
}
.partenairesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
.partenaires {
  width: 13rem;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}
.partenaires:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px #ee7124, inset 0 0 8px #ee7124, 0 0 16px #ee7124,
    inset 0 0 16px #ee7124, 0 0 32px #ee7124, inset 0 0 32px #ee7124;
}
.partenairesOrlinside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separatorNeon {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  /* margin-bottom: 2rem; */
  box-shadow: 0 0 8px #ee7124, inset 0 0 8px #ee7124, 0 0 16px #ee7124,
    inset 0 0 16px #ee7124, 0 0 32px #ee7124, inset 0 0 32px #ee7124;
  z-index: 100;
}

/*! MOBILE */
@media screen and (max-width: 767px) {
  .newsContainer {
    padding: 3rem 1rem 1rem;
  }
  .title {
    padding: 3rem 0rem 1rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .articleNews {
    margin: 2rem 0 2rem 0;
    gap: 1rem;
    font-size: 1rem;
  }
  .textPropos {
    text-align: justify;
  }
  .partenairesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
  }
  .partenaires {
    width: 8rem;
    border-radius: 50%;
  }
  .partenairesOrlinside {
    width: 70%;
    margin: 2rem auto 0;
  }
}

/*! TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .newsContainer {
    padding: 3rem 2rem 1rem;
  }
  .title {
    padding: 5rem 0rem 1rem;
    text-align: center;
    font-size: 4rem;
  }
  .partenairesList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
  }
  .partenaires {
    width: 12rem;
    border-radius: 50%;
  }
  .partenairesOrlinside {
    width: 70%;
    margin: 2rem auto 2rem;
  }
}
