.newsContainer {
  /* height: 100vh; */
  background: linear-gradient(180deg, #000000, #0a0a0a);
  padding: 5rem 15rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.newsTitleContainer {
  background-color: transparent;
}
.title {
  padding: 5rem 15rem 1rem;
  color: aliceblue;
  font-size: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.mail {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-family: "walkway-bold";
}
.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.inputForm {
  width: 30rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "kanit-medium";
}
.inputFormArea {
  width: 30rem;
  height: 10rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "kanit-medium";
}
.inputForm::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #ee7124a7;
}
.inputFormArea::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #ee7124a7;
}
.inputBtn {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #ee7124;
  color: white;
  font-size: 1.2rem;
  font-family: "Walkway-Bold";
  cursor: pointer;
  letter-spacing: 0.3rem;
}
.separatorNeon {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  /* margin-bottom: 2rem; */
  box-shadow: 0 0 8px #ee7124, inset 0 0 8px #ee7124, 0 0 16px #ee7124,
    inset 0 0 16px #ee7124, 0 0 32px #ee7124, inset 0 0 32px #ee7124;
  z-index: 100;
}

/*! MOBILE */
@media screen and (max-width: 767px) {
  .newsContainer {
    padding: 3rem 1rem 4rem;
  }
  .title {
    padding: 3rem 0rem 1rem;
    text-align: center;
    font-size: 2.2rem;
  }
  .mail {
    font-size: 1rem;
  }
  .formulaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .inputForm {
    width: 100%;
  }
  .inputFormArea {
    width: 20rem;
  }
  .inputForm::placeholder {
    font-size: 1rem;
  }
  .inputFormArea::placeholder {
    font-size: 1rem;
  }
  .inputBtn {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
  }
}

/*! TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .newsContainer {
    padding: 3rem 2rem 4rem;
  }
  .title {
    padding: 5rem 0rem 1rem;
    text-align: center;
    font-size: 4rem;
  }
}
